<style>
        td {
        cursor: pointer;
      }
    .card {
      margin-top: 0px;
      margin-bottom:0px;
    }
    </style>
    <div class="card">
        <div class="card-body">
            <a href="#!newitem"><button class="btn btn-primary" type="button" style="float: left;">New</button></a>
                <input type="text" class="form-control input-lg " placeholder="Search any field" ng-model="searchword" style="width: 95%;float: right">
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <table class="table table-responsive-sm">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Title</th>
                  <th>Price</th>
                  <th>Location</th>
                  <th>Contact</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="x in products | filter:searchword" ng-mouseenter="shw = true" ng-mouseleave="shw=false">
                  <td>{{ x.product_id }}</td>
                  <td>{{ x.product_title }}</td>
                  <td>{{ x.price }}</td>
                  <td>{{ x.resturant_location }}</td>
                  <td>{{ x.contact }}</td>
                  <td>{{ !x.available? "Available" :"Not Available" }}</td>
                  <td>
                        <div ng-show="shw"> 
                        <a ng-show="{{ x.available }}">Show</a><a ng-hide="{{ x.available}}">Hide</a>
                        </div>
                    </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" href="#">Prev</a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">4</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </div>
        </div>