<div class="card" style="padding: 10px">
    <div class="card-header">
       <strong>Change Password</strong>
    </div>
    <div class="card-body card-block">
       <form id="mainform" class="form-horizontal">
          <div class="row form-group">
             <div class="col col-md-3"><label for="text-input" class=" form-control-label">Old Password</label></div>
             <div class="col-12 col-md-9"><input type="password" id="text-input" ng-model="oldpassword" placeholder="Old password" class="form-control" ></div>
          </div>
          <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">New Password</label></div>
            <div class="col-12 col-md-9"><input type="password" id="text-input" ng-model="newpassword" placeholder="New password" class="form-control" ></div>
         </div>
         <div class="row form-group">
            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Confirm Password</label></div>
            <div class="col-12 col-md-9"><input type="password" id="text-input" ng-model="confirmpassword" placeholder="Confirm password" class="form-control"> </div>
         </div>
        <div class="card-footer">
        <button type="submit" class="btn btn-primary btn-sm" ng-click="change()">
        <i class="fa fa-dot-circle-o"></i> Change
        </button>
        <input type="reset" class="btn btn-danger btn-sm"> </input>
        </div>
    </form>
    
 </div>